@font-face {
    font-family:"ADLaM_Display" ;
    src: url(../assets/tipografia/ADLaMDisplay-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family:"ADLaM_Display" ;
    background-image: url(../assets/imagenes/fondo.png) ;
    
}

section{
    background-color: #08AADE;
    border-radius: 10%;
}