header{
    grid-area: header;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    grid-template-areas: "logo" "nav";
    margin: 0% 10px;
    background-color: #003cff;
    border-radius: 30px;
    
    

}


header img{
    width: 150px;
    border-radius: 20%;
    margin-top: 20px;
}

header .cont_logo{
    
    grid-area: logo;
    display: grid;
    justify-items: center;
   align-items: center;
   
}

.nav_inicio{
    grid-area: nav;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-items:center;
    margin-bottom: 10px;
    
}

.nav_inicio div:hover{
translate: 4px 4px;
}

.nav_inicio div{
    border-radius: 10px;
    background-color: #1300c08e;
    padding: 3px 5px;
}



 