*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    font-family:"ADLaM_Display" ;
    background-image: url(../assets/imagenes/fondo.png) ;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 70% 10%;
    grid-template-areas:
    "header"
    "div"
    "footer";
   
}

.sectionprod, .procesos{
    width: 20vh;
}

