section{
    grid-area: div;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    justify-items: center;
    align-content: center;
    margin: 10px 10px;
    border-radius: 30px;

}

#carouselExample{

    width: 300px;
   
}

.sectionprod img{
    width: 150px;
    border-radius: 10%;
}


.sectionprod{
    display: flex;
    justify-content: center;
    align-items: center;
}


.nosotros{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    justify-items: center;
    align-items: center;
    background-color: #003cff;
    margin: 0px 5%;
    font-size: small;
    
}
.nosotros img{
    width:250px;
}
.nosotros h2{
    font-size: larger;
    border-radius: 10px;
    background-color: #1300c08e;
    padding: 3px 5px;
    margin-top: 10px;
}
.nosotros p{
    text-align: center;
    padding: 5px;
}

.procesos{
    display: flex;
    align-items: center;
    background-color: #003cff;
    padding: 10px;
    flex-direction: column;
    
}

.procesos h2{
    
    border-radius: 10px;
    background-color: #1300c08e;
    padding: 3px 5px;
}

.procesos img{
    width: 200px;
    border-radius: 30px;
}

.procesos div{
    gap: 5px;;
}

.proceso_cont{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
  
}

/* html productos*/

.html_prod{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.card:hover{
    translate: 4px 4px;
    }
.card {
    margin:auto;
    font-size:small;
    margin-bottom: 15px;
}

.titulos_prod{
    width: auto;
    border-radius: 10px;
    background-color: hwb(246 0% 0%);
    padding: 3px 5px;
    font-size: larger;
}

/* html envios*/


.contenedor_envio{
    grid-area: div;
    display: flex;
    justify-content:center;
    align-items: center;

}
.botones{
    width: auto;
}
/* html bowls*/

.sect_bowl{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #003cff;
    padding: 10px;
    
}

.sect_bowl div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sect_bowl h2{
    width: auto;
    border-radius: 10px;
    background-color: hwb(246 0% 0%);
    padding: 3px 5px;
    font-size: larger;
}

.sect_bowl img{
    width: 250px;
    border-radius: 10px;
}

/*html platos*/

.sect_plato{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #003cff;
    padding: 10px;
    
}

.sect_plato div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sect_plato h2{
    width: auto;
    border-radius: 10px;
    background-color: hwb(246 0% 0%);
    padding: 3px 5px;
    font-size: larger;
}

.sect_plato img{
    width: 250px;
    border-radius: 10px;
}


