section{
    grid-area: nav;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;

}



.sectionprod img{
    width: 150px;
}

.procesos img{
    width: 150px;
}